anndata>=0.8.0
av>=11.0.0
imageio>=2.33.1
imageio-ffmpeg>=0.4.9
gpytorch>=1.11
numpy>=1.18.1
matplotlib>=3.5.3
POT>=0.8.1
psutil
pyacvd>=0.2.9
PyMCubes>=0.1.4
pymeshfix>=0.16.2
pyvista==0.40.0
trame==2.5.2
trame-server>=2.15.0
trame-vtk
trame-vuetify